{% extends "::base.html.twig" %}

{% block body %}
        <div class="centered-empty-div card">
                {% block fos_user_content %}
                {% endblock fos_user_content %}
        </div>
{% endblock %}
